<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Template</title>
    <style>
        {% comment %} @font-face {
            font-family: 'MyFont';
            src: url('{{ font }}') format('truetype');
        }
        body {
            font-family: 'MyFont', sans-serif;
        } {% endcomment %}
    </style>
</head>
<body>
    <h1>Protokół odbioru</h1>
    {% if logo %}
        <img src="{{ logo }}" alt="Logo">
    {% else %}
        <p>Logoo</p>
    {% endif %}

    <h2>Szkoła: {{ school_name }}</h2>
    {% comment %} <p>Adres: {{ school_address }}</p> {% endcomment %}
    {% comment %} <p>Dyrektor: {{ director }}</p> {% endcomment %}
    {% comment %} <p>Data odbioru: {{data_odbioru }}</p> {% endcomment %}
    {% comment %} <p>Br umowy: {{ nr_umowy }}</p> {% endcomment %}

    <h3>Zamawiany sprzęt:</h3>
    <table>
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa przedmiotu</th>
                <th>Ilość</th>
                <th>Numery seryjne</th>
                <th>Status dostarczenia</th>
                <th>Uwagi</th>
            </tr>
        </thead>
        {% comment %} <tbody>
            {% for item in sprzet_szkolny %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.sprzet.equipment.name }}</td>
                <td>{{ item.sprzet.quantity }}</td>
                <td>{{ item.sprzet.serial_numbers }}</td>
                <td>{{ item.status_dostarczenia }}</td>
                <td>{{ item.uwagi }}</td>
            </tr>
            {% endfor %}
        </tbody> {% endcomment %}
    </table>
</body>
</html>