{% include "navbar.html" %}
<html>
<head>
    <title>Wybór Szkoły2</title>
    <style>
        /* Style CSS */
        .body {
            font-family: Jost, sans-serif;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <p>
            jakiś tekst
        </p>
        <button>
            przycisk
        </button>
        <p>{{ szkola.school_name }}</p>
    </div>
</body>
</html>